@import url(
    'https://fonts.googleapis.com/css?family=Poppins: 400,500,600,700,800,900&display=swap'
);

body{
    box-sizing: border-box;
    margin: 0;
    /* overflow: hidden; */
    /* background: repeating-radial-gradient(ellipse at bottom, #1b2735 0%, #000 100%); */
    background-color: black;
    text-align: center;
}


 .homepage{
     width: 100%;
     height: 100vh;
     text-align: left;
     color: white;
     font-family: 'Righteous', cursive;
     z-index: 20;
     background: radial-gradient(
         ellipse at bottom ,
         rgba(255, 255, 255, 0.2),
         rgba(255,255,255, 0.1),
         rgba(255,255,255, 0.1));

 }


  .topnav a {
    position: fixed;
    left: -90px;
    transition: 0.3s;
    padding: 15px;
    width: 115px;
    text-decoration: none;
    font-size: 20px;
    color: #05386B;
    border-radius: 0 5px 5px 0;
    z-index: 10;
    cursor: pointer;
    background-color: #5CDB95;
    font-family: 'Oswald', sans-serif;
    /* font-size: 10px; */
    /* box-shadow: 2px 2px 2px #05386B; */
    /* text-align: right; */
  }

  #home{
    top: 50px;
  }

  
  #skills{
    top:100px; 
  }

  #project{
    top: 150px;

  }

  #contact{
    top: 200px;
  }

  .topnav a:hover{
      left:0;
  }
  
  
.main{
    padding-top: 20px;
    
}

.name{
    /* color: #bdb9b7; */
    font-size: 80px;
    /* font-family: 'Oxygen', sans-serif; */
    font-family: "Dank Mono", ui-monospace, monospace;
    z-index: 2000;
    text-shadow:2px 2px 2px #05386B;
}
.jumbotron{
    padding-top: 10%;
    padding-left: 20px;
}

.description{
    color: #bdb9b7;
    font-size: 20px;
}


@keyframes animateName {
    from{
        letter-spacing: 10px;
        opacity: 0;
    }
    to{
        letter-spacing: 0;
        opacity: 1;
    }
}



.footer-container{
    height: 80px;
    width: 100%;
    margin: 0;
    background-color: #05386B;
    bottom: 0;
    position: fixed;
    color: #EDF5E1;
    font-family: 'Oswald', sans-serif;
}
.git{
    font-size: 40px;
    color: #EDF5E1;
    margin: 20px;
    transition: transform .5s;
}

.git:hover{
    color: #fffefe;
    text-decoration: none;
    transform: scale(1.5);
}


.copyright{
    float:right;
    color: #fffefe;
    margin: 30px;
    font-size:12px;
}


  
/* Page */

.sidepage {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .sidepage .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: white;
    cursor: pointer;
  }
  

.bottom-nav{
    display: none
}

.bottom-nav button{
    font-size: 30px;
    color: white;
}

.soc-med{
    display: block;
}

section{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: #000200;
    display: flex;
    justify-content: center;
    align-items: center;
}


.star{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    pointer-events: none;
    animation: animatestar 10s ease-in-out infinite,
               animateBG 10s linear infinite;
}

.star .star1{
    background: url('../img/star8.png');
}

@keyframes animatestar{
    0%, 20%, 40%, 60%, 80%, 100%{
        opacity: 0;
    } 
    10%, 30%, 50%, 70%, 90%{
        opacity: 1;
    }
}
@keyframes animateBG{
    0%{
        transform: scale(0.5);
    }
    100%{
        transform: scale(1);
    }
}
/* //Responsive */

@media only screen and (max-width: 600px) {
    .footer-container{
        text-align: center;
        z-index: 21;
        width: 100%;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        /* display: none; */
    }
    .soc-med{
        display: none;
    }
    .homepage{
        left: 0;
        bottom: 0;
        width: 100%;
        background: #111;
        display: inline-block;
        text-align: center;
    }
     .box-area{
         display: none;
     }
    .topnav{
        display: none;
    }
    .bottom-nav{
        margin-top: 20px;
        display: block;
        /* font-family: 'Oswald', sans-serif; */
        color: white;
    }
}
 

