@import url(
    'https://fonts.googleapis.com/css?family=Poppins: 400,500,600,700,800,900&display=swap'
);


 .homepage{
     width: 100%;
     height: 100vh;
     /* background: repeating-conic-gradient(  
        rgba(174, 241, 151, 0.46),
        rgba(174, 241, 151, 0.46),
         #05386b51,
         #05386b51,
         rgba(174, 241, 151, 0.46),
         rgba(174, 241, 151, 0.46),
         #05386b51,
         #05386b51,
         rgba(174, 241, 151, 0.46),
         rgba(174, 241, 151, 0.46),
         #05386b51,
         #05386b51,
         rgba(174, 241, 151, 0.46),
         rgba(174, 241, 151, 0.46)
    ) fixed; */
     text-align: left;
     color: white;
     font-family: 'Righteous', cursive;
 }


  .topnav a {
    position: fixed;
    left: -90px;
    transition: 0.3s;
    padding: 15px;
    width: 115px;
    text-decoration: none;
    font-size: 20px;
    color: #05386B;
    border-radius: 0 5px 5px 0;
    z-index: 10;
    cursor: pointer;
    background-color: #5CDB95;
    font-family: 'Oswald', sans-serif;
    /* font-size: 10px; */
    box-shadow: 2px 2px 2px #05386B;
    /* text-align: right; */
  }

  #home{
    top: 50px;
  }

  
  #skills{
    top:100px; 
  }

  #project{
    top: 150px;

  }

  #contact{
    top: 200px;
  }

  .topnav a:hover{
      left:0;
  }
  
  
.main{
    padding-top: 20px;
    
}

.name{
    /* color: #bdb9b7; */
    font-size: 80px;
    /* font-family: 'Oxygen', sans-serif; */
    font-family: "Dank Mono", ui-monospace, monospace;
    animation: animateName 2s ;
    z-index: 2000;
    text-shadow:2px 2px 2px #05386B;
}
.jumbotron{
    padding-top: 10%;
    padding-left: 20px;
}

.description{
    color: #bdb9b7;
    font-size: 20px;
}


@keyframes animateName {
    from{
        letter-spacing: 10px;
        opacity: 0;
    }
    to{
        letter-spacing: 0;
        opacity: 1;
    }
}



.footer-container{
    height: 80px;
    width: 100%;
    margin: 0;
    background-color: #05386B;
    bottom: 0;
    position: fixed;
    color: #EDF5E1;
    font-family: 'Oswald', sans-serif;
}
.git{
    font-size: 40px;
    color: #EDF5E1;
    margin: 20px;
    transition: transform .5s;
}

.git:hover{
    color: #fffefe;
    text-decoration: none;
    transform: scale(1.5);
}


.copyright{
    float:right;
    color: #fffefe;
    margin: 30px;
    font-size:12px;
}


  
/* Page */

.sidepage {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .sidepage .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: white;
    cursor: pointer;
  }
  

.bottom-nav{
    display: none
}

.bottom-nav button{
    font-size: 30px;
    color: white;
}

.soc-med{
    display: block;
}


/* //Responsive */

@media only screen and (max-width: 600px) {
    .footer-container{
        text-align: center;
        z-index: 21;
        border-radius: 40px;
        bottom: 10px;
        /* display: none; */
    }
    .soc-med{
        display: none;
    }
    .homepage{
        left: 0;
        bottom: 0;
        width: 100%;
        background: #111;
        display: inline-block;
        text-align: center;
    }
     .box-area{
         display: none;
     }
    .topnav{
        display: none;
    }
    .bottom-nav{
        margin-top: 20px;
        display: block;
        /* font-family: 'Oswald', sans-serif; */
        color: white;
    }
}
 

