@import url(
    'https://fonts.googleapis.com/css?family=Poppins: 400,500,600,700,800,900&display=swap'
);


 .homepage{
     width: 100%;
     height: 100vh;
     background-color: #5CDB95;
     text-align: center;
     color: white;
     font-family: 'Righteous', cursive;
 }

 .homepage span{
     margin: 0;
     font-size: 5em;
     top: 20%;
     position: absolute;
     left: 0;
     right: 0;
 }

  .topnav a {
    position: fixed;
    left: -90px;
    transition: 0.3s;
    padding: 15px;
    width: 115px;
    text-decoration: none;
    font-size: 20px;
    color: #05386B;
    border-radius: 0 5px 5px 0;
    z-index: 10;
    cursor: pointer;
    background-color: #5CDB95;
    font-family: 'Oswald', sans-serif;
    /* font-size: 10px; */
    /* box-shadow: 2px 2px 2px #05386B; */
    /* text-align: right; */
  }

  #home{
    top: 50px;
  }

  
  #skills{
    top:100px; 
  }

  #project{
    top: 150px;

  }

  #contact{
    top: 200px;
  }

  .topnav a:hover{
      left:0;
  }
  
  
.main{
    padding-top: 20px;
    
}

.name{
    color: #bdb9b7;
    font-size: 80px;
    font-family: 'Oxygen', sans-serif;
    animation: animateName 2s ;
}

.description{
    color: #bdb9b7;
    font-size: 20px;
}

@keyframes animateName {
    from{
        letter-spacing: 10px;
        opacity: 0;
    }
    to{
        letter-spacing: 0;
        opacity: 1;
    }
}



.footer-container{
    height: 80px;
    width: 100%;
    margin: 0;
    background-color: #05386B;
    bottom: 0;
    position: fixed;
    color: #EDF5E1;
    font-family: 'Oswald', sans-serif;
}
.git{
    font-size: 40px;
    color: #EDF5E1;
    margin: 20px;
    transition: transform .5s;
}

.git:hover{
    color: #fffefe;
    text-decoration: none;
    transform: scale(1.5);
}


.copyright{
    float:right;
    color: #fffefe;
    margin: 30px;
    font-size:12px;
}



@media only screen and (max-width: 600px) {
   .footer-container{
       text-align: center;
   }
   .topnav{
       display: none;
   }
  }

  
/* Page */

.sidepage {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .sidepage .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: white;
    cursor: pointer;
  }
  

  /* Background Animation */

.box-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 90vw;
    height: 90vh;
    overflow: hidden;
}

.box-area .square{
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    background: rgba(255, 255,255, 0.2);
    animation: animate 10s linear infinite;
    border: 1px solid #05386B;
    opacity: 0;
}

.box-area .square:nth-child(1){
    left: 86%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.box-area .square:nth-child(2){
    left: 10%;
    top: 40%;
    width: 80px;
    height: 80px;
    animation-delay: 2s;
}

.box-area .square:nth-child(3){
    top: 1%;
    left: 50%;
    width: 80px;
    height: 80px;
    animation-delay: 5s;
}

.box-area .square:nth-child(1){
    left: 10%;
    top: 40%;
    width: 80px;
    height: 80px;
    animation-delay: 2s;
}

.box-area .square:nth-child(1){
    left: 86%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


@keyframes animate{
    0%{
        
        opacity: 0;
        transform: scale(0) rotate(0deg);
    }
    70%{
        width: 100px;
        height: 100px;
        opacity: 1;
      
    }

    100%{
        opacity: 0;
        transform: scale(1) rotate(360deg);
       
    }
}